.cabecera {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (min-width: 0) {
    .cabecera {
        justify-content: center;
        padding: .3rem;
    } 
}

@media screen and (min-width: 748px) {
    .cabecera {
        justify-content: space-between;
        padding: 1rem 2rem;
    } 
}