body {
    background: #E9ECF8;
}

.logo-header {
    display: flex;
    position: absolute;
}

.encriptador {
    position: absolute;
    width: 27%;
    top: 180px;
    left: 957;
    box-sizing: border-box;
    border: solid;
    margin: 5px auto;
    border-radius: 30px;
    height: 60%;
}