.sobre__texto {
    color: #8C8888;
    font-family: 'ROBOTO';
    font-weight: 300;
}

@media screen and (min-width: 0) {
    .sobre__texto {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__texto {
        font-size: 2rem;
    }
}